
@{
    ViewBag.Title = "New";
}



<div id="heading">
    <a href="/Flight/List" id="back"><i class="fa-solid fa-arrow-left"></i> Back</a>
    <h1>Adding A New Flight</h1>
</div>


<div id="new_container">
    <form action="/Flight/Create" method="POST" id="new_form">
        <div>
            <label>Departure Time:</label><br />
            <input type="text" name="departuretime"  size="50"/>
        </div>

        <div>
            <label>Flight Status:</label><br />
            <input type="text" name="flightstatus"  size="50"/>
        </div>

        <div>
            <label>Airline:</label><br />
            <input type="text" name="airline"  size="50"/>
        </div>

        <div>
            <label>Flight Number:</label><br />
            <input type="text" name="flightnumber"  size="50"/>
        </div>

        <div>
            <label>Destination:</label><br />
            <input type="text" name="destination"  size="50"/>
        </div>

        <div>
            <label>Terminal:</label><br />
            <input type="text" name="terminal"  size="50"/>
        </div>

        <div>
            <label>Gate:</label><br />
            <input type="text" name="gate"  size="50"/>
        </div>

        <div>
            <input type="submit" value="Add Flight" id="submit_btn" />
        </div>

    </form>
</div>

<script src="https://kit.fontawesome.com/e67acba296.js" crossorigin="anonymous"></script>
<style>
    h1 {
        text-align: center;
    }

    #heading {
        position: relative;
    }

    #back {
        position: absolute;
        top: 0;
        left: 0;
    }
    #new_container {
        background-image: url("https://media.idownloadblog.com/wp-content/uploads/2021/04/gradient-iPhone-wallpaper-marcusbremen-idownloadblog-turquoise.png");
        background-size: cover;
        height: 700px;
        padding: 70px;
    }

    #new_form {
        background-color: rgb(255, 255, 255,0.5);
        width: 400px;
        padding: 20px 50px;
        margin: 0 auto;
        border-radius: 0 20px;
    }

    label {
        color: #28a745;
    }

    input {
        border: none;
        border-radius: 5px;
    }

    #submit_btn {
        margin-top: 30px;
        width: 100%;
        padding: 10px 0;
        background-color: #28a745;
        color: white;
        font-weight: bold;
        transition: background-color 0.25s;
    }

        #submit_btn:hover {
            background-color: #1c7d32;
        }
</style>
