

<script src="https://kit.fontawesome.com/e67acba296.js" crossorigin="anonymous"></script>

<div class="jumbotron">
    <h1>Airport Database Managament</h1>
    <p class="lead">
        A.D.M is a website built using ASP.NET in C# that integrates with MySQL database,
        to allow users to be able to Create, Read, Update, Delete information regarding flight schedules.
    </p>
</div>
<div class="row">
    <div class="col-md-6 style">
        
        <div class="icon"><i class="fa-solid fa-plane-departure"></i></div>
        <h2>Flights Schedule</h2>

        <p><a class="btn btn-default" href="/Flight/List">View All Flights &raquo;</a></p>
    </div>
    <div class="col-md-6 style">
        <div class="icon"><i class="fa-solid fa-plus"></i></div>
        <h2>Add Flight</h2>

        <p><a class="btn btn-default" href="/Flight/New">Add New Flight &raquo;</a></p>
    </div>
</div>

<style>
    .jumbotron {
        background-image: url("https://theflight.info/wp-content/uploads/2021/05/WhiteAirplane.jpg");
        background-size: cover;
        height: 400px;
        text-shadow: 2px 2px 4px #000000;
    }

    .jumbotron h1, .jumbotron .lead {
        color: white;
    }

    .icon {
        font-size: 50px;
    }

    .style {
        text-align: center;
    }
</style>